
@{
    ViewData["Title"] = "Товары";
}


<form method="post">
    Id:<input type = "text" name = "Id" required />
    <br/>
    Name:<input type = "text" name = "Name" />
    <br/>
    Discr:<input type = "text" name = "Discription" />
    <br/>
    <input type="submit" name = "submit" value="Создать"/>
</form>
